.about {
  display:inline-block;
margin-left: 387px;
color: #8A1065;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  width: 500px;
}

.home-button {
  display:inline-block;
 color: black;
 letter-spacing: 5px;
 font-weight: 500;
 font-size: 30px;
 

}
.home-button:focus {outline:0;}

.about-img {
  width: 465px;
  margin-top: 10px;
}
p {
  margin-top: 10px;
}
