body {
  height: 100%;
}

.logo {
    margin-top: 40px;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 9em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #E895FF,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}


i {
  font-size: 50px;
}


.cover_font_awesome {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-weight: 700;
  color: #E895FF;


}
.fa-facebook-square{
  margin-right: 40px;


}

.fa-instagram {

}
.fa-youtube-square {
  margin-left: 40px;
}

.create {
  font-size: 30px;
  letter-spacing: 8px;
  padding-top: 40px;
  font-weight: 200;
  font-family: verdana;
}

.login {
 font-size: 30px;
 letter-spacing: 8px;
 font-family: verdana;
 color:#E895FF;

}



.account {
  margin-top: 40px;

}
.create {
  transition: 2s;
  color:#E895FF;
}
.create:hover {
  text-decoration: none;
  color:#8A1065;
  transition: 1s;
}


.logn {
  margin-top: 40px;
}
.login {
  transition: 2s;
}
.login:hover {
  text-decoration: none;
  color:#8A1065;
  transition: 1s;
}
.fab {
transition:1s;
}



.fab:hover {
  opacity:0; /* Completely invisible. */
    transition:1s; /* A 1 second transition. */

  color: #CBDEF9;
}
