header {
  background-color: #FF0000;
  opacity: 80%;

}
 .navbar-brand {
   margin-top: 12px;
   color: white;
   font-weight: bold;
  }

.nav-link {
  color: white;
  letter-spacing: 5px;
  margin-left: 4px;
  font-weight: 700;
  margin-top: 12px;

}
.login {
  margin-bottom: 20px;
  margin-right: 10px;
  color: white;

}

.newpatient {
  margin-left: 15px;
  color:white;
}
