.bg-dark {
  background-color: #FF0000!important;
  /* height: 80px; */
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.responsive-navbar-nav {
  background-color: #FF0000;
}
.nav-link {
  font-size: 24px;
  margin-top: 8px;
  font-weight: 350;
  margin-left: 15px;
}
.nav-login {
  font-size: 24px;
  margin-top: 8px;


}
 .navbar-brand {

   color: white;
   font-weight: bold;
   font-size: 35px;
   letter-spacing: 2px;
  }
