

#patient-list .card {
  display:flex;
  flex-direction: row;
  width: 250px;
  height: 350px;



  margin-right: 155px;
  margin-left: 35px;
  margin-top: 30px;


}
#patient-list .list-label {
  color: white;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 600;
  margin-left: 15px;
  padding-top: 4px;
  border: none;
}

#patient-list  .card-img-top {
  width: 100% ;
  height: 100%;
  overflow: hidden;
}
#patient-list .card-body {

}
#patient-list .card-title {
  color: black;
  margin-top:347px;
  margin-left: -226px;
  font-family: courier;
  font-weight: 500;
  text-decoration: underline;
}
#patient-list a:hover {
  text-decoration: none;
}
#patient-list a {
  display:inline-block;
}
#patient-list .left {
  /* width:1000px; */
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

}
#patient-list .addpatient {
  font-size: 25px;
  width: 350px;
  margin-left: 20px;
  color: black;

}

#patient-list  {
  background-color:#EFE6D4;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 10%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#patient-list .photocard {
  background-color: white;
  width: 320px;
  height: 450px;


  /* margin-left: 70px; */
  /* position: relative; */
  /* top: 10%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#patient-list .photocard:not(:last-child) {
  margin-right: 16px;
}
