/* .medhistory {
  font-size: 20px;


}
.history_box {
  display: flex;
  flex-direction: column;

  padding-left:10px;
 margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    margin-left: 25px;


}
.pdtail_link {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 15px;
  padding-top: 10px;
  border: none;
  text-decoration: underline;
} */
