.medhistory {
  font-size: 20px;


}
.history_box {
  padding-left:10px;
 margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 800px;
    margin-left: 25px;


}
.pdtail_link {
display:inline-block;
float: right;
margin-top:200px;
  margin-left: 850px;
  font-size: 25px;
position: fixed;
}
