form{
  text-align: center;
}

label {
  font-size: 20px;
}
.one {
margin-right: 75px;
color: #014FF1;

}

.two {
  margin-right: 75px;
  color: #4FCAF0;

}

.three {
  color: #CB28A2;

}

.four {
  margin-left: 75px;
  color: #7C0F7D;

}



.cover_font_awesome {

  margin-top: 30px;

    color:#8A1065;


}
