nav {
text-align: center;
margin-top: 70px;

}
.about-ref {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 5px;
  color: #014FF1;

}
.make-pat {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-top: 20px;
  color: #4FCAF0;
}
.findpharm {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-top: 20px;
  color: #CB28A2;


}
.menu_font_awesome {
margin-top: 40px;



}
.logout {

}
