
body {

}
.top_bar {
  background-color:#8A1065;
  height: 70px;
}
.bottom_bar {
  background-color:#8A1065;
  height: 70px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.return_link {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;

}
.return_link:hover {
  text-decoration: underline;
}
.pDtail {
  color: white;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 600;
  margin-left: 15px;
  padding-top: 4px;
  border: none;
}
.p_detail {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 500px;
  margin-top: 50px;
text-align: left;
text-decoration: underline;
margin-bottom: 10px;


  font-size: 20px;
  border: solid black;

}

.boxs {
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;

}
.fname {

}
.lname {

}
.meddisplay {
  margin-top: 50px;
  font-size: 30px;
  border: solid black;
  width: 500px;
  height: 300px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.medname {
  margin-left:20px;
  margin-bottom: 10px;



}
.newmed {
  width: 300px;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;

}
.med_history {
  font-size: 25px;
  margin-left:34px;
}
.med_history:hover {
  text-decoration: underline;
}
.newmed:hover {
  text-decoration: underline;
}
