.medication-history {
  color: purple;
}
.new-prescription {
  color: purple;
}
.edit-patient {
  color: purple;
}
.remove-caregiver {
  color: red;
  background-color: white;
  border: none;
  font-weight: bold;
  margin-left: 60%;
  margin-top: -70px;
  position: relative;
  bottom: 40px;

}
.edit-prescription {
  color: black;
}
.remove-prescription {
  color: red;
  font-weight: bold;
}
.add-caregiver {
  color:blue;
  font-weight: bold;
  background-color: white;
  border:none;

}
.record-dose {
  color: blue;
  font-weight: bold;

}
.patient-detail-img {
  border:solid;
  border-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carelist {
  margin-top: 20px;
}
.prescription-detail {
  color:purple;
}
