body {
/*
  background: url('./../../images/nurse2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */


}

.cover_container {
  display:flex;
 flex-direction: column;
  justify-content: center;



}

.logo {
  font-size: 120px;
  margin-left: 18px;

}
.peace-of-mind {
  display: inline-block;
  font-size: 30px;
  float: right;
  position: relative;
  bottom: 140px;
}









.create {
  font-size: 30px;
  letter-spacing: 8px;
  padding-top: 25px;
  text-align: center;
  font-family: verdana;
}

.login {
 font-size: 30px;
 letter-spacing: 8px;
 font-family: verdana;
   color:black;
   text-align: center;

   margin-top: 5px;

   font-weight: 600;


}
.about-page {

  font-size: 30px;
  letter-spacing: 8px;
  font-family: verdana;
  color: black;
  margin-top: 12px;
  margin-left: 7px;
   font-weight: 600;
   text-align: center;



}
.map-page {
  font-size: 30px;
  letter-spacing: 8px;
  font-family: verdana;
  color: black;
  margin-top: 12px;
   font-weight: 600;
   margin-left: 7px;
   text-align: center;

}



.account {

  width: 230px;
  height: 300px;
  opacity: 70%;
  margin-left: 70px;
  text-align: center;
  margin-top: 20px;


  background-color: white;
  border: solid;




}
.create {

    color:black;
    margin-top: -12px;
    margin-bottom:4px;
     font-weight: 600;
     margin-left: 5px;

}
