body {
  height: 100%;
  


}
.cover_container {
  text-align: center;


}

.logo {
    margin-top: 40px;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 50px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #8A1065,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
         1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}


i {
  font-size: 30px;
}
.one {
margin-right: 75px;
color: #014FF1;

}

.two {
  margin-right: 75px;
  color: #4FCAF0;

}

.three {
  color: #CB28A2;

}

.four {
  margin-left: 75px;
  color: #7C0F7D;

}



.cover_font_awesome {

  margin-top: 30px;

    color:#8A1065;


}




.create {
  font-size: 30px;
  letter-spacing: 8px;
  padding-top: 25px;
  font-weight: 200;
  font-family: verdana;
}

.login {
 font-size: 30px;
 letter-spacing: 8px;
 font-family: verdana;
   color:#8A1065;

}



.account {
  margin-top: 25px;

}
.create {

    color:#8A1065;
}



.logn {
  margin-top: 40px;
}
